<form id='alipaysubmit' name='alipaysubmit' target="_blank" style="display:none" method='post'
    action='https://mapi.alipay.com/gateway.do?_input_charset=utf-8'>
    <input type='hidden' name='_input_charset' value=''/>
    <input type='hidden' name='batch_no' value=''/>
    <input type='hidden' name='batch_num' value=''/>
    <input type='hidden' name='detail_data' value=''/>
    <input type='hidden' name='notify_url' value=''/>
    <input type='hidden' name='partner' value=''/>
    <input type='hidden' name='refund_date' value=''/>
    <input type='hidden' name='seller_email' value=''/>
    <input type='hidden' name='service' value=''/>
    <input type='hidden' name='sign' value=''/>
    <input type='hidden' name='sign_type' value=''/>
</form>